* {
  transition: 0.5s all ease-in-out;
}

.sidebar-container {
  width: 20rem;
}

.collapsed {
  width: 3.5rem;
  padding-inline: 0rem !important;
}

.fadeout {
  opacity: 0;
}

.sidebar-text-color {
  color: var(--sidebar-text-color);
}

.active {
  background-color: var(--sidebar-active-color);

  >button {
    color: var(--sidebar-active-text-color) !important;

    >img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(100%) contrast(100%);
    }
  }
}

.hide {
  /* height: 0 !important; */
  /* translate: 0 -100% !important; */
  transform: translateY(-100%) !important;
  /* opacity: 0 !important; */
  /* animation: hideSales 1s ease-in-out forwards alternate; */
}

.show {
  /* height: auto !important; */
}

.sales {}


@keyframes hideSales {
  from {
    height: auto;
  }

  to {
    height: 0;
  }
}