.orders-table {
  height: calc(72vh - 100px) !important;
}

.orders-table {
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
