<div class="container-fluid p-0 m-0">
  <div class="card border-0 bg-transparent">
    <p-table #dt1 [value]="leadsData()" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true"
      [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20, 50]" [lazy]="true"
      (onPage)="onPageChange($event)" (onSort)="onSortColumn($event)" [loading]="loading()" [globalFilterFields]="[
        'firstName',
        'lasttName',
        'servicesOfInterest',
        'status',
        'sourceName',
        'assignedTo',
        'creadtedAt'
      ]">
      <ng-template #caption>
        <div class="d-flex justify-content-between align-items-center">
          <!-- Export Button Container -->
          <div class="export-btn-container">
            <button
              class="btn btn-sm primary-bg-clr text-white px-3 py-2 d-flex justify-content-center align-items-center gap-2"
              (click)="exportLeads()">
              <i class="pi pi-download fs-875"></i>
              {{ 'sales-crm.leads-tabel.export' | translate }}
            </button>
          </div>
          <!-- Filter and Search Container -->
          <div class="d-flex justify-content-start align-items-center gap-0">
            <button type="button" class="btn btn-sm btn-outline-primary outline-primary-clr p-2" (click)="clear(dt1)">
              <i class="pi pi-filter-slash"></i>
              Clear
            </button>
            <p-iconfield iconPosition="left" class="fw-bold">
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input pInputText type="text" (input)="onSearch($event)" #searchInput placeholder="Search keyword" />
            </p-iconfield>
          </div>

          <!-- Add Lead Button Container -->
          <div class="d-flex justify-content-start align-items-center gap-0">
            <button
              class="btn btn-primary primary-bg-clr d-flex justify-content-start px-3 py-2 align-items-center gap-2 rounded-3"
              routerLink="/main/sales/leads/add-lead">
              <img src="assets/images/shared/plus.svg" alt="" class="" />
              Add Lead
            </button>
          </div>
        </div>
        <div class="title-container my-4">
          <h5 class="m-0 p-0">All Leads</h5>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th class="d-flex justify-content-center align-items-center gap-2">
            <div class="flex items-center gap-2">
              <input type="checkbox" name="select-all" id="select-all" [checked]="isAllSelected"
                (change)="onSelectAll($event)" />
            </div>
          </th>
          <th>
            <div class="flex items-center gap-2">ID</div>
          </th>
          <th [pSortableColumn]="'firstName'">
            <div class="flex items-center gap-2">
              Name
              <p-sortIcon field="firstName" />
            </div>
          </th>
          <th>
            <div class="flex items-center gap-2">Service</div>
          </th>
          <th [pSortableColumn]="'status'">
            <div class="flex items-center gap-2">
              Status
              <p-sortIcon field="status" />
            </div>
          </th>
          <th [pSortableColumn]="'sourceName'">
            <div class="flex items-center gap-2">
              Source
              <p-sortIcon field="sourceName" />
            </div>
          </th>
          @if(currentUser()?.type === userTypes.ADMIN || currentUser()?.type === userTypes.MANAGER){
          <th>
            <div class="flex items-center gap-2">Assigned To</div>
          </th>
          }
          <th>
            <div class="flex items-center gap-2">Value</div>
          </th>
          <th>
            <div class="flex items-center gap-2">Created Date</div>
          </th>
          <th class="d-flex justify-content-center align-items-center gap-2">Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-lead let-rowIndex="rowIndex">
        <tr>
          <td>
            <input type="checkbox" name="select-lead" id="lead-{{ lead.id }}" [checked]="lead.selected"
              (change)="toggleLeadSelection(lead)" />
          </td>
          <td [title]="lead.id">
            <div [title]="lead.id">
              {{ lead.id | slice : 0 : 8 }}{{ lead.id.length > 8 ? '...' : '' }}
            </div>
          </td>
          <td>{{ lead.firstName }} {{ lead.lastName }}</td>
          <td>
            <div class="text-truncate" style="max-width: 150px" [title]="getServiceName(lead)">
              {{ getServiceName(lead) }}
            </div>
          </td>
          <td>
            <span class="py-1 px-2 rounded-3" [class]="
                lead.status === 'New'
                  ? 'text-white bg-primary'
                  : lead.status === 'Qualified'
                  ? 'text-success card-green'
                  : lead.status === 'In-Progress'
                  ? 'text-warning card-yellow'
                  : lead.status === 'Lost'
                  ? 'text-danger card-red'
                  : ''
              ">{{ lead.status }}</span>
          </td>
          <td>{{ lead.sourceName }}</td>
          @if(currentUser()?.type === userTypes.ADMIN || currentUser()?.type === userTypes.MANAGER){
          <td>{{ lead.assignedTo?.fullName }}</td>
          }
          <td>-</td>
          <td>{{ lead.createdAt | date : 'dd/MM/yyyy' }}</td>
          <td class="d-flex justify-content-center align-items-center gap-2">
            <button class="btn btn-sm" (click)="viewLead(lead.id); $event.stopPropagation()">
              <img src="assets/images/shared/eye.svg" alt="View" />
            </button>
            <button class="btn btn-sm" (click)="editLead(lead.id); $event.stopPropagation()">
              <i class="pi pi-pencil"></i>
            </button>
            <button class="btn btn-sm" (click)="onDeleteLead(lead.id); $event.stopPropagation()">
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [visible]="showLeadModal()"
  modal="true"
  (onHide)="closeLeadModal()"
  [style]="{width: '700px'}"
  styleClass="lead-details-dialog"
  [closable]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
>
  <app-leads-details
    *ngIf="selectedLeadData()"
    [lead]="selectedLeadData()"
    (closed)="closeLeadModal()">
  </app-leads-details>
</p-dialog>