.p-overlay-mask-enter-animation animation {
  background-color: rgba(33, 85, 163, 0.16) !important;
}

.p-overlay-mask {
  background-color: rgba(33, 85, 163, 0.16) !important;
}

.form-group input::placeholder {
  font-size: 0.75rem;
}

td, th {
  background-color: transparent !important;
}

tr:hover {
  background-color: #0000ff20 !important;
}
