<div class="container-fluid p-0 m-0">
  <div class="add-customers-container p-3 d-flex flex-column justify-content-start align-items-start gap-3">
    <!-- Top Container -->
    <div class="add-customers-top w-100 d-flex justify-content-start align-items-center gap-3">
      <!-- Back Button -->
      <div class="add-customers-back-btn-container">
        <button
          class="back-btn btn btn-sm p-2 bg-white shadow border-0 d-flex justify-content-center align-items-center"
          (click)="goBack()">
          <i class="pi pi-chevron-left fs-875"></i>
        </button>
      </div>
      <!-- Title -->
      <div class="add-customers-title-container">
        <h1 class="mb-0 fs-4 fw-bold">
          {{ 'customers-crm.add-customer-page.title' | translate }}
        </h1>
      </div>
    </div>

    <!-- Form Container -->
    <form [formGroup]="addCustomerForm"
      class="add-customers-form w-100 d-flex flex-column justify-content-start align-items-start gap-4 mt-4 p-5 bg-white">
      <!-- Full Name Container -->
      <div class="fullName-container d-flex justify-content-between align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="fullName" class="form-label">
            <span>Full Name</span>
            <span [class]="checkValidity('fullName')">*</span>
          </label>
          <input type="text" name="fullName" id="fullName" class="form-control" placeholder="Full Name"
            formControlName="fullName">
        </div>
      </div>

      <!-- Email & Gender Container -->
      <div class="emailGender-container d-flex justify-content-between align-items-start gap-3 w-100">
        <!-- Email Container -->
        <div class="form-group w-100">
          <label for="email" class="form-label">
            <span>Email</span>
            <span [class]="checkValidity('email')">*</span>
          </label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" formControlName="email">
        </div>

        <!-- Gender Container -->
        <div class="form-group w-100">
          <label for="gender" class="form-label">
            <span>Gender</span>
            <span [class]="checkValidity('gender')">*</span>
          </label>
          <select name="gender" id="gender" class="form-select" formControlName="gender">
            <option selected disabled>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>

      <!-- Phone Number & National ID Container -->
      <div class="phoneNumberNationalID-container d-flex justify-content-between align-items-start gap-3 w-100">
        <!-- Phone Number Container -->
        <div class="form-group w-100">
          <label for="phoneNumber" class="form-label">
            <span>Phone Number</span>
            <span [class]="checkValidity('phoneNumber')"> *</span>
            @if(addCustomerForm.get('phoneNumber')?.invalid && addCustomerForm.get('phoneNumber')?.touched) {
            <span class="error text-danger"> invalid phone number</span>
            }
          </label>
          <input type=" tel" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number"
            formControlName="phoneNumber">
        </div>

        <!-- National ID Container -->
        <div class="form-group w-100">
          <label for="nationalId" class="form-label">
            <span>National ID</span>
            <span [class]="checkValidity('nationalId')"> *</span>
            @if(addCustomerForm.get('nationalId')?.invalid && addCustomerForm.get('nationalId')?.touched) {
            <span class="error text-danger"> invalid national ID</span>
            }
          </label>
          <input type="text" name="nationalId" id="nationalId" class="form-control" placeholder="National ID"
            formControlName="nationalId">
        </div>
      </div>

      <!-- Date Of Birth Container -->
      <div class="dateOfBirth-container d-flex flex-column justify-content-start align-items-start gap-3 w-50">
        <label for="dateOfBirth">
          <span>Date Of Birth</span>
          <span [class]="checkDateOfBirthValidity() ? 'text-success' : 'text-danger'"> *</span>
          @if(!checkDateOfBirthValidity() && addCustomerForm.get('month')?.touched &&
          addCustomerForm.get('day')?.touched && addCustomerForm.get('year')?.touched) {
          <span class="error text-danger"> invalid date of birth</span>
          }
        </label>
        <div class="form-group dateOfBirth-group d-flex justify-content-start align-items-center gap-3 w-75">
          <input type="text" name="month" id="month" class="form-control text-center" placeholder="MM"
            formControlName="month">
          <span class="fs-4">/</span>
          <input type="text" name="day" id="day" class="form-control text-center" placeholder="DD"
            formControlName="day">
          <span class="fs-4">/</span>
          <input type="text" name="year" id="year" class="form-control text-center" placeholder="YYYY"
            formControlName="year">
        </div>
      </div>

      <hr class="w-100">

      <!-- Country & State Container -->
      <div class="countryState-container d-flex justify-content-between align-items-start gap-3 w-100">
        <!-- Country Container -->
        <div class="form-group w-100">
          <label for="country" class="form-label">
            <span>Country</span>
            <span [class]="checkValidity('country')"> *</span>
            @if(addCustomerForm.get('country')?.invalid && addCustomerForm.get('country')?.touched) {
            <span class="error text-danger"> invalid country</span>
            }
          </label>
          <input type="text" name="country" id="country" class="form-control" placeholder="Country"
            formControlName="country">
        </div>
        <!-- State Container -->
        <div class="form-group w-100">
          <label for="state" class="form-label">
            <span>City/State</span>
            <span [class]="checkValidity('state')"> *</span>
          </label>
          <input type="text" name="state" id="state" class="form-control" placeholder="State" formControlName="state">
        </div>
      </div>

      <!-- Postal Code Container -->
      <div class="postalCode-container d-flex justify-content-start align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="postalCode" class="form-label">
            <span>Postal Code</span>
            <span [class]="checkValidity('postalCode')"> *</span>
            @if(addCustomerForm.get('postalCode')?.invalid && addCustomerForm.get('postalCode')?.touched) {
            <span class="error text-danger"> invalid postal code</span>
            }
          </label>
          <input type="text" name="postalCode" id="postalCode" class="form-control" placeholder="Postal Code"
            formControlName="postalCode">
        </div>
      </div>

      <div class="butons-container d-flex justify-content-center align-items-center gap-3 w-100">
        <button type="button" class="btn btn-sm outline-primary-clr flex-grow-1 py-2" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary primary-bg-clr flex-grow-1 py-2"
          (click)="save()">Save</button>
      </div>
    </form>
  </div>
</div>
