<div class="container-fluid p-0 m-0">
  <div
    class="add-customers-container p-3 d-flex flex-column justify-content-start align-items-start gap-3"
  >
    <!-- Top Container -->
    <div class="add-customers-top w-100 d-flex justify-content-start align-items-center gap-3">
      <!-- Back Button -->
      <div class="add-customers-back-btn-container">
        <button
          class="back-btn btn btn-sm p-2 bg-white shadow border-0 d-flex justify-content-center align-items-center"
          (click)="goBack()"
        >
          <i class="pi pi-chevron-left fs-875"></i>
        </button>
      </div>
      <!-- Title -->
      <div class="add-customers-title-container">
        <h1 class="mb-0 fs-4 fw-bold">
          {{ 'customers-crm.add-customer-page.title' | translate }}
        </h1>
      </div>
    </div>

    <!-- Form Container -->
    <form
      [formGroup]="addCustomerForm"
      class="add-customers-form w-100 d-flex flex-column justify-content-start align-items-start gap-4 mt-4 p-5 bg-white"
    >
      <!-- Full Name Container -->
      <div class="fullName-container d-flex justify-content-between align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="fullName" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.full-name' | translate }}</span>
            <span [class]="checkValidity('fullName')">*</span>
          </label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.full-name-placeholder' | translate"
            formControlName="fullName"
          />
          @if(addCustomerForm.get('fullName')?.invalid && addCustomerForm.get('fullName')?.touched)
          {
          <div class="text-danger small mt-1">{{ getErrorMessage('fullName') }}</div>
          }
        </div>
      </div>

      <!-- Email & Gender Container -->
      <div
        class="emailGender-container d-flex justify-content-between align-items-start gap-3 w-100"
      >
        <!-- Email Container -->
        <div class="form-group w-100">
          <label for="email" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.email' | translate }}</span>
            <span [class]="checkValidity('email')">*</span>
          </label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.email-placeholder' | translate"
            formControlName="email"
          />
          @if(addCustomerForm.get('email')?.invalid && addCustomerForm.get('email')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('email') }}</div>
          }
        </div>

        <!-- Gender Container -->
        <div class="form-group w-100">
          <label for="gender" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.gender' | translate }}</span>
            <span [class]="checkValidity('gender')">*</span>
          </label>
          <select name="gender" id="gender" class="form-select" formControlName="gender">
            <option value="" disabled selected>
              {{ 'customers-crm.add-customer-page.select-gender' | translate }}
            </option>
            @for(gender of genders; track gender) {
            <option [value]="gender">{{ gender }}</option>
            }
          </select>
          @if(addCustomerForm.get('gender')?.invalid && addCustomerForm.get('gender')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('gender') }}</div>
          }
        </div>
      </div>

      <!-- Default Language Container -->
      <div
        class="defaultLanguage-container d-flex justify-content-between align-items-start gap-3 w-100"
      >
        <div class="form-group w-100">
          <label for="defaultLanguage" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.default-language' | translate }}</span>
            <span [class]="checkValidity('defaultLanguage')"> *</span>
          </label>
          <select
            name="defaultLanguage"
            id="defaultLanguage"
            class="form-select"
            formControlName="defaultLanguage"
          >
            <option value="" disabled selected>
              {{ 'customers-crm.add-customer-page.select-language' | translate }}
            </option>
            @for(language of languages; track language) {
            <option [value]="language">{{ language }}</option>
            }
          </select>
          @if(addCustomerForm.get('defaultLanguage')?.invalid &&
          addCustomerForm.get('defaultLanguage')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('defaultLanguage') }}</div>
          }
        </div>
      </div>

      <!-- Phone Number & SSN Container -->
      <div
        class="phoneNumberSSN-container d-flex justify-content-between align-items-start gap-3 w-100"
      >
        <!-- Phone Number Container -->
        <div class="form-group w-100">
          <label for="phone" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.phone' | translate }}</span>
            <span [class]="checkValidity('phone')"> *</span>
          </label>
          <input
            type="tel"
            name="phone"
            id="phone"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.phone-placeholder' | translate"
            formControlName="phone"
          />
          @if(addCustomerForm.get('phone')?.invalid && addCustomerForm.get('phone')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('phone') }}</div>
          }
        </div>

        <!-- SSN Container -->
        <div class="form-group w-100">
          <label for="ssn" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.ssn' | translate }}</span>
            <span [class]="checkValidity('ssn')"> *</span>
          </label>
          <input
            type="text"
            name="ssn"
            id="ssn"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.ssn-placeholder' | translate"
            formControlName="ssn"
          />
          @if(addCustomerForm.get('ssn')?.invalid && addCustomerForm.get('ssn')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('ssn') }}</div>
          }
        </div>
      </div>

      <!-- Assign User Container -->
      @if((currentUser$ | async)?.type === 'Manager') {
      <div class="appUserId-container d-flex justify-content-start align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="appUserId" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.assign-user' | translate }}</span>
            <span [class]="checkValidity('appUserId')"> *</span>
          </label>
          <select name="appUserId" id="appUserId" class="form-select" formControlName="appUserId">
            <option value="" disabled selected>
              {{ 'customers-crm.add-customer-page.select-user' | translate }}
            </option>
            @for(agent of salesAgents; track agent.id) {
            <option [value]="agent.id">{{ agent.name }}</option>
            }
          </select>
          @if(addCustomerForm.get('appUserId')?.invalid &&
          addCustomerForm.get('appUserId')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('appUserId') }}</div>
          }
        </div>
      </div>
      }

      <hr class="w-100" />

      <!-- Country & State Container -->
      <div
        class="countryState-container d-flex justify-content-between align-items-start gap-3 w-100"
      >
        <!-- Country Container -->
        <div class="form-group w-100">
          <label for="country" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.country' | translate }}</span>
            <span [class]="checkValidity('country')"> *</span>
          </label>
          <input
            type="text"
            name="country"
            id="country"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.country-placeholder' | translate"
            formControlName="country"
          />
          @if(addCustomerForm.get('country')?.invalid && addCustomerForm.get('country')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('country') }}</div>
          }
        </div>
        <!-- State Container -->
        <div class="form-group w-100">
          <label for="state" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.state' | translate }}</span>
            <span [class]="checkValidity('state')"> *</span>
          </label>
          <input
            type="text"
            name="state"
            id="state"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.state-placeholder' | translate"
            formControlName="state"
          />
          @if(addCustomerForm.get('state')?.invalid && addCustomerForm.get('state')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('state') }}</div>
          }
        </div>
      </div>

      <!-- Postal Code Container -->
      <div class="postalCode-container d-flex justify-content-start align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="postalCode" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.postal-code' | translate }}</span>
            <span [class]="checkValidity('postalCode')"> *</span>
          </label>
          <input
            type="text"
            name="postalCode"
            id="postalCode"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.postal-code-placeholder' | translate"
            formControlName="postalCode"
          />
          @if(addCustomerForm.get('postalCode')?.invalid &&
          addCustomerForm.get('postalCode')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('postalCode') }}</div>
          }
        </div>
      </div>

      <!-- Address Container -->
      <div class="address-container d-flex justify-content-start align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="address" class="form-label">
            <span>{{ 'customers-crm.add-customer-page.address' | translate }}</span>
            <span [class]="checkValidity('address')"> *</span>
          </label>
          <textarea
            name="address"
            id="address"
            class="form-control"
            [placeholder]="'customers-crm.add-customer-page.address-placeholder' | translate"
            formControlName="address"
            rows="3"
          ></textarea>
          @if(addCustomerForm.get('address')?.invalid && addCustomerForm.get('address')?.touched) {
          <div class="text-danger small mt-1">{{ getErrorMessage('address') }}</div>
          }
        </div>
      </div>

      <!-- Submit Button Container -->
      <div class="buttons-container w-100 d-flex justify-content-between align-items-center gap-3">
        <!-- Cancel Button -->
        <button
          type="button"
          class="btn btn-outline-primary outline-primary-clr d-flex justify-content-center align-items-center gap-2 rounded-3 flex-grow-1"
          (click)="cancel()"
          [disabled]="loading()"
        >
          {{ 'COMMON.CANCEL' | translate }}
        </button>

        <!-- Save Button -->
        <button
          type="submit"
          class="btn btn-primary primary-bg-clr d-flex justify-content-center align-items-center gap-2 rounded-3 flex-grow-1"
          (click)="save()"
          [disabled]="loading()"
        >
          @if (!loading()) {
          <span>{{ 'COMMON.SAVE' | translate }}</span>
          } @else {
          <span>{{ 'customers-crm.add-customer-page.saving' | translate }}</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
