<div class="container-fluid p-0 m-0">
  <div
    class="add-invoice-container p-3 d-flex flex-column justify-content-start align-items-start gap-3 overflow-y-auto"
  >
    <div class="add-invoice-top w-100 d-flex justify-content-start align-items-center gap-3">
      <div class="add-invoice-back-btn-container">
        <button
          class="back-btn btn btn-sm p-2 border-0 bg-white shadow d-flex justify-content-center align-items-center"
          (click)="back()"
        >
          <i class="pi pi-chevron-left fs-875"></i>
        </button>
      </div>
      <div class="add-invoice-title-container">
        <h1 class="mb-0 fs-4 fw-bold">
          {{ 'INVOICES.add-invoice-page.title' | translate }}
        </h1>
      </div>
    </div>

    <form
      [formGroup]="addInvoiceForm"
      class="add-invoice-form w-100 d-flex flex-column justify-content-start align-items-start gap-4 mt-4 p-5 bg-white"
    >
      <!-- Customer Container -->
      <div class="customer-container d-flex justify-content-between align-items-start gap-3 w-100">
        <div class="form-group w-100">
          <label for="customer">
            {{ 'INVOICES.add-invoice-page.customer' | translate }}
            <span [class]="checkValidity('customerId')">*</span>
          </label>
          <select name="customer" id="customer" class="form-select" formControlName="customerId">
            <option value="" selected disabled>
              {{ 'INVOICES.add-invoice-page.select-customer' | translate }}
            </option>
            @for(customer of customers(); track customer.id){
            <option [value]="customer.id">{{ customer.fullName }}</option>
            }
          </select>
          <div class="error-message d-flex justify-content-start align-items-start">
            @if (checkErrors('customerId')) {
            <span class="text-danger">{{ getErrorMessage('customerId') }}</span>
            }
          </div>
        </div>
      </div>

      <!-- Due Date Container -->
      <div class="billDate-dueDate-container d-flex justify-content-start align-items-start gap-3">
        <div class="form-group">
          <label for="dueDate">
            {{ 'INVOICES.add-invoice-page.due-date' | translate }}
            <span [class]="checkValidity('dueDate')">*</span>
          </label>
          <p-datepicker
            formControlName="dueDate"
            dateFormat="dd-mm-yy"
            [showIcon]="true"
            [iconDisplay]="'input'"
            placeholder="{{ 'INVOICES.add-invoice-page.due-date' | translate }}"
            inputId="dueDate"
            styleClass="w-100"
          />
          <div class="error-message d-flex justify-content-start align-items-start">
            @if (checkErrors('dueDate')) {
            <span class="text-danger">{{ getErrorMessage('dueDate') }}</span>
            }
          </div>
        </div>
      </div>

      <!-- Total & Services Select & Due Container -->
      <div
        class="total-paymentReceived-due-container d-flex justify-content-between align-items-start gap-3 w-100"
      >
        <!-- Total Container -->
        <div class="form-group w-100">
          <label for="total">
            {{ 'INVOICES.add-invoice-page.total' | translate }}
            <span [class]="checkValidity('total')">*</span>
          </label>
          <input
            type="number"
            name="total"
            id="total"
            class="form-control"
            placeholder="{{ 'INVOICES.add-invoice-page.total' | translate }}"
            formControlName="total"
          />
          <div class="error-message d-flex justify-content-start align-items-start">
            @if (checkErrors('total')) {
            <span class="text-danger">{{ getErrorMessage('total') }}</span>
            }
          </div>
        </div>

        <!-- Services Select Container -->
        <div class="form-group w-100">
          <label for="items">
            {{ 'INVOICES.add-invoice-page.services-of-interest' | translate }}
          </label>
          <p-multiselect
            [options]="services()"
            formControlName="items"
            optionLabel="name"
            optionValue="id"
            placeholder="{{ 'INVOICES.add-invoice-page.select-services' | translate }}"
            [maxSelectedLabels]="3"
            [filter]="true"
            (onFilter)="onFilterServices($event)"
            [showClear]="true"
            class="w-100"
          />
          <small class="text-muted">{{
            'INVOICES.add-invoice-page.search-select-services' | translate
          }}</small>
        </div>
      </div>

      <!-- Notes Container -->
      <div class="form-group w-100">
        <label for="notes">
          {{ 'INVOICES.add-invoice-page.notes' | translate }}
          <span [class]="checkValidity('notes')">*</span>
        </label>
        <textarea
          name="notes"
          id="notes"
          class="form-control"
          rows="4"
          placeholder="{{ 'INVOICES.add-invoice-page.notes-placeholder' | translate }}"
          formControlName="notes"
        ></textarea>
        <div class="error-message d-flex justify-content-start align-items-start">
          @if (checkErrors('notes')) {
          <span class="text-danger">{{ getErrorMessage('notes') }}</span>
          }
        </div>
      </div>

      <!-- Assigned Sales Agent Container -->
      @if((currentUser$ | async)?.type === USER_TYPES.MANAGER || (currentUser$ | async)?.type ===
      USER_TYPES.ADMIN){
      <div class="form-group w-100">
        <label for="assignedSalesAgent">
          {{ 'INVOICES.add-invoice-page.assigned-sales-agent' | translate }}
          <span [class]="checkValidity('assignedSalesAgentId')">*</span>
        </label>
        <select
          name="assignedSalesAgent"
          id="assignedSalesAgent"
          class="form-select"
          formControlName="assignedSalesAgentId"
        >
          <option value="" selected disabled>
            {{ 'INVOICES.add-invoice-page.select-sales-agent' | translate }}
          </option>
          @for(salesAgent of salesAgents(); track salesAgent.id){
          <option [value]="salesAgent.id">{{ salesAgent.name }}</option>
          }
        </select>
        <div class="error-message d-flex justify-content-start align-items-start">
          @if (checkErrors('assignedSalesAgentId')) {
          <span class="text-danger">{{ getErrorMessage('assignedSalesAgentId') }}</span>
          }
        </div>
      </div>
      }

      <!-- Invoice Number Container -->
      <div class="form-group w-100">
        <label for="invoiceNumber">
          {{ 'INVOICES.add-invoice-page.invoice-number' | translate }}
          <span [class]="checkValidity('invoiceNumber')">*</span>
        </label>
        <input
          type="text"
          name="invoiceNumber"
          id="invoiceNumber"
          class="form-control"
          placeholder="Invoice Number (ex. INV-123)"
          formControlName="invoiceNumber"
        />
        <div class="error-message d-flex justify-content-start align-items-start">
          @if (checkErrors('invoiceNumber')) {
          <span class="text-danger">{{ getErrorMessage('invoiceNumber') }}</span>
          }
        </div>
      </div>

      <!-- Buttons Container -->
      <div
        class="buttons-container d-flex justify-content-center align-items-center gap-3 w-100 mt-4"
      >
        <button
          type="button"
          class="btn btn-sm outline-primary-clr px-3 py-2 d-flex justify-content-center align-items-center gap-2 rounded-3 flex-grow-1"
          (click)="cancelInvoice()"
        >
          {{ 'INVOICES.add-invoice-page.cancel' | translate }}
        </button>
        <button
          type="submit"
          class="btn btn-sm btn-primary primary-bg-clr px-3 py-2 d-flex justify-content-center align-items-center gap-2 rounded-3 flex-grow-1"
          (click)="addInvoice()"
          [disabled]="addInvoiceForm.invalid || isSubmitting()"
        >
          @if (isSubmitting()) {
          <i class="pi pi-spin pi-spinner"></i>
          <span>{{ 'INVOICES.add-invoice-page.saving' | translate }}</span>
          } @else {
          <span>{{ 'INVOICES.add-invoice-page.save' | translate }}</span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
