<!-- Form -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-grid">
  <!-- Email -->
  <app-input [label]="'AUTH.EMAIL_ADDRESS' | translate" id="identifier" type="email"
    [placeholder]="'AUTH.ENTER_EMAIL' | translate" formControlName="identifier"
    [isInvalid]="!!(identifier?.invalid && identifier?.touched)" [errorMessage]="getFieldError('identifier')"
    class="input-field">
  </app-input>

  <!-- Password -->
  <app-input [label]="'AUTH.PASSWORD' | translate" id="password" variant="password"
    [placeholder]="'AUTH.ENTER_PASSWORD' | translate" formControlName="password"
    [isInvalid]="!!(password?.invalid && password?.touched)" [errorMessage]="getFieldError('password')" [minlength]="8"
    [maxlength]="64" class="input-field">
  </app-input>

  <app-button type="submit" [label]="'AUTH.LOGIN' | translate" [disabled]="loginForm.invalid" [loading]="isLoading()"
    [loadingText]="'AUTH.SIGNING_IN' | translate" class="submit-button">
  </app-button>

  <!-- Forgot Password Link -->
  <div class="forgot-password">
    <a [routerLink]="ROUTES.forgotPassword" class="forgot-link">
      {{ 'AUTH.FORGOT_PASSWORD' | translate }}
    </a>
  </div>
</form>