<div class="container-fluid p-0 m-0">
  <div class="sales-agents-details-container p-3 d-flex flex-column justify-content-start align-items-start gap-3">
    <div class="sales-agents-details-top w-100 d-flex justify-content-start align-items-center gap-3">
      <!-- Back Button -->
      <div class="sales-agents-details-back-btn-container">
        <button
          class="back-btn btn btn-sm p-2 bg-white shadow border-0 d-flex justify-content-center align-items-center"
          (click)="goBack()">
          <i class="pi pi-chevron-left fs-875"></i>
        </button>
      </div>
      <!-- Title -->
      <div class="sales-agents-details-title-container d-flex justify-content-start align-items-center gap-3">
        <img src="assets/images/salesAgents/{{salesAgentsDetailsData.imageUrl}}" alt="{{salesAgentsDetailsData.name}}"
          class="sales-agent-image">
        <div class="d-flex flex-column justify-content-center align-items-start gap-1">
          <h1 class="mb-0 fs-5 fw-bold">{{ salesAgentsDetailsData.name }}</h1>
          <p class="m-0 p-0 primary-clr fs-875">{{ salesAgentsDetailsData.proffession }}</p>
        </div>
      </div>
    </div>

    <div class="sales-agent-card w-100">
      <app-tabs-header [title]="''" [cardsData]="salesAgentsDetailsDataCards"
        [folderName]="'salesAgentsDetails'"></app-tabs-header>
    </div>

    <div class="card chart-container">
      <!-- <p-chart type="bar" [data]="data" [options]="options" class="h-50" /> -->
    </div>

    <!-- Sales Agents Details Content -->
    <div class="sales-agent-table">
      <app-sales-agents-tabel></app-sales-agents-tabel>
    </div>

  </div>
</div>
