.table-container {
  /* height: calc(100dvh - 100px) ; */

  /* &::-webkit-scrollbar {
    display: none;
  } */
}

.search-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.form-control, .form-select {
  &:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }
}
