.header-container {
  height: 6.25rem;
}

.search-form-group {
  width: 20rem;
  height: 2rem;

  >input {
    outline: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.dropdown-toggle {
  border: none !important;
}
