:root {
  --sidebar-bg: #f9f9f9;
  --content-bg: #f8fafc;
  --sidebar-text-color: #888888;
  --sidebar-active-color: #005db5;
  --sidebar-active-text-color: #ffffff;
  --text-clr: #121212;
  --text-muted-clr: #888888;
  --trend-up-clr: #059691;
  --trend-down-clr: #e11d48;
  --card-blue-bg-clr: #ccdff080;
  --card-green-bg-clr: #d1fae580;
  --card-yellow-bg-clr: #fef3c780;
  --card-red-bg-clr: #ffe4e680;
  --primary-color: #005db5;
  --icon-bg-gray: #e3e1e1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-bg {
  background-color: var(--sidebar-bg);
}

.content-bg {
  background-color: var(--content-bg);
}

.p-75 {
  padding: 0.75rem !important;
}

.px-75 {
  padding-inline: 0.75rem !important;
}

.libre-franklin {
  font-family: 'Libre Franklin', sans-serif;
}

.cairo {
  font-family: 'Cairo', sans-serif;
}

.fs-75 {
  font-size: 0.75rem !important;
}

.fs-875 {
  font-size: 0.875rem !important;
}

.text-muted-clr {
  color: var(--text-muted-clr) !important;
}

.trend-up-clr {
  color: var(--trend-up-clr) !important;
}

.trend-down-clr {
  color: var(--trend-down-clr) !important;
}

.primary-clr {
  color: var(--primary-color) !important;
}

.outline-primary-clr {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;

  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--sidebar-active-text-color) !important;
  }
}

.primary-bg-clr {
  background-color: var(--primary-color) !important;
}

.card-blue {
  background-color: var(--card-blue-bg-clr) !important;
}

.card-green {
  background-color: var(--card-green-bg-clr) !important;
}

.card-yellow {
  background-color: var(--card-yellow-bg-clr) !important;
}

.card-red {
  background-color: var(--card-red-bg-clr) !important;
}

/* Remove the default password reveal button */
/* Hide in Edge / IE */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Hide in Chrome, Safari, and most WebKit browsers */
input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-reveal {
  display: none;
}

/* Optional: just to be safe */
input[type='password']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button {
  display: none;
}