/* You can add global styles to this file, and also import other style files */

:root {
  --sidebar-bg: #f9f9f9;
  --content-bg: #F8FAFC;
  --sidebar-text-color: #888888;
  --sidebar-active-color: #005DB5;
  --sidebar-active-text-color: #ffffff;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
}

.sidebar-bg {
  background-color: var(--sidebar-bg);
}

.content-bg {
  background-color: var(--content-bg);
}

.p-75 {
  padding: 0.75rem !important;
}

.libre-franklin {
  font-family: 'Libre Franklin', sans-serif;
}

.cairo {
  font-family: 'Cairo', sans-serif;
}

.fs-75 {
  font-size: 0.75rem !important;
}

.fs-875 {
  font-size: 0.875rem !important;
}
