<div class="container-fluid p-0 mx-0 my-4 overflow-hidden">
  <div class="table-responsive w-100">

    <table class="table table-responsive table-hover overflow-y-auto">

      <thead>
        <th class="py-3 ps-2">
          <input type="checkbox" name="select-all" id="select-all">
        </th>
        @for (column of columnsHeader; track column) {
        <th class="py-3 ps-2">{{ column }}</th>
        }
      </thead>

      <tbody class="overflow-y-auto">
        @for (order of paginationData; track order.id) {
        <tr (click)="viewOrder(order.id)">
          <td class="py-2">
            <input type="checkbox" name="select-order" id="select-order">
          </td>
          <td class="py-2">#{{ order.orderId }}</td>
          <td class="py-2">{{ order.date }}</td>
          <td class="py-2">{{ order.customer }}</td>
          <td class="py-2 fw-bold">$ {{ order.total }}</td>
          <td class="py-2">{{ order.status }}</td>
          <td class="py-2">{{ order.locations }}</td>
          <td class="py-2">{{ order.paymentMethod }}</td>
          <td class="py-2">
            <button class="btn btn-sm">
              <i class="pi pi-ellipsis-v"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <nav aria-label="Page navigation example" class="d-flex justify-content-end align-items-center gap-5">
      <p class="text-muted-clr">Rows per page: {{ pageSize }}</p>
      <p class="text-muted-clr">Total Orders: {{ totalOrders }}</p>
      <ul class="pagination justify-content-end">
        <li class="page-item {{currentPage == 1 ? 'disabled' : ''}}">
          <button class="page-link" (click)="previousPage()">Previous</button>
        </li>
        @for (i of totalPages; track i) {
        <li class="page-item" (click)="goToPage(i)">
          <button class="page-link">{{ i }}</button>
        </li>
        }
        <li class="page-item {{currentPage == totalPages.length ? 'disabled' : ''}}">
          <button class="page-link" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>

  </div>
</div>
