<div class="container-fluid p-0 mx-0 my-4 overflow-hidden">
  <div class="orders-actions-container mb-3 d-flex justify-content-between align-items-center">
    <div class="export-btn-container">
      <button class="btn btn-sm btn-outline-primary px-3 py-2">
        {{ 'orders-crm.export' | translate }}
      </button>
    </div>

    <div class="srch-filter-container">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
  </div>

  <div class="table-responsive w-100">
    <table class="table table-responsive table-hover overflow-y-auto">
      <thead>
        <th class="py-3 ps-2">
          <input type="checkbox" name="select-all" id="select-all">
        </th>
        @for (column of columnsHeader; track column) {
        <th class="py-3 ps-2">{{ column }}</th>
        }
      </thead>

      <tbody class="overflow-y-auto">
        @for (order of paginationData; track order.id) {
        <tr (click)="viewOrder(order.id)">
          <td class="py-2">
            <input type="checkbox" name="select-order" id="select-order">
          </td>
          <td class="py-2">#{{ order.orderId }}</td>
          <td class="py-2">{{ order.date }}</td>
          <td class="py-2">{{ order.customer }}</td>
          <td class="py-2 fw-bold">$ {{ order.total }}</td>
          <td class="py-2">{{ order.status }}</td>
          <td class="py-2">{{ order.locations }}</td>
          <td class="py-2">{{ order.paymentMethod }}</td>
          <td class="py-2">
            <button class="btn btn-sm">
              <i class="pi pi-ellipsis-v"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <app-paginator [pageSize]="4" [totalItems]="totalOrders" [data]="ordersData"
      (paginatedData)="onPaginationChange($event)">
    </app-paginator>

  </div>
</div>
