.table-container {
  height: calc(100vh - 100px);
}

.search-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.form-control, .form-select {
  &:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }
}
